---
layout: default
---

<ul class="entries">
	{% for post in paginator.posts %}

	<li>
		<h1>{{ post.title }}</h1>
		{% if post.post_type == 'event' %}
		
			{% if post.image_left %}
				<img class="left" src="{{ post.image_left }}" width="{% if post.image_width %}{{ post.image_width }}{% else %}300px{% endif %}" height="{% if post.image_height %}{{ post.image_height }}{% else %}400px{% endif %}" />
				<p>Click <a href="{{ post.image_left }}">here</a> for the full-size poster image.</p>
			{% endif %}
			{% if post.image_right %}
				<img class="right" src="{{ post.image_right }}" width="{% if post.image_width %}{{ post.image_width }}{% else %}300px{% endif %}" height="{% if post.image_height %}{{ post.image_height }}{% else %}400px{% endif %}" />
				<p>Click <a href="{{ post.image_right }}">here</a> for the full-size poster image.</p>
			{% endif %}
			<p></p>
			{% if post.event_date %}
				<br />Event Date: {{ post.event_date }}
			{% endif %}
			
			{% if post.event_deadline %}
				<br />Deadline: {{ post.event_deadline }}
			{% endif %}
			
			{% if post.event_time %}
				<br />Time: {{ post.event_time }}
			{% endif %}
			
			{% if post.event_location %}
				<br />Location: {{ post.event_location }}</p>
			{% endif %}
			{{ post.content }}
		
		{% else %}
			{% if post.image_left %}
				<img class="left" src="{{ post.image_left }}" width="{% if post.image_width %}{{ post.image_width }}{% else %}300px{% endif %}" height="{% if post.image_height %}{{ post.image_height }}{% else %}400px{% endif %}" />
				<p>Click <a href="{{ post.image_left }}">here</a> for the full-size poster image.</p>
			{% endif %}
			{% if post.image_right %}
				<img class="right" src="{{ post.image_right }}" width="{% if post.image_width %}{{ post.image_width }}{% else %}300px{% endif %}" height="{% if post.image_height %}{{ post.image_height }}{% else %}400px{% endif %}" />
				<p>Click <a href="{{ post.image_right }}">here</a> for the full-size poster image.</p>
			{% endif %}
			<p>Posted on: {{ post.date | date: "%B %d %Y" }}</p>
			{% if post.article %}
				{{ post.excerpt }}
				<p>Click <a href="{{ post.url }}">here</a> to read further.</p>
			{% else %}
				{{ post.content }}
			{% endif %}
		{% endif %}
	</li>

	{% endfor %}
</ul>

{{ paginator | pager_links }}
